@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
@font-face {
  font-family: 'AthenaoftheOcean';
  src: url('fonts/AthenaoftheOcean.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EnglishwithIndianRupee';
  src: url('../fonts/EnglishwithIndianRupee.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

    body {
      font-family: "Montserrat SemiBold", sans-serif;
      background-color: #ffffff;
      max-width: 100vw;
      max-width: 1920px;
      overflow-x: hidden;

      header {

        nav {
          height: 180px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin: 0;
          padding: 0 55px;
          background-color: transparent;

          .logo {
            a {
              font-family: "AthenaoftheOcean", sans-serif;
              text-decoration: none;
              font-size: 150px;
              color: #ffffff;
              line-height: 10px;

            }
          }

          .menu {

            ul {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;

              li {
                display: inline-block;
                list-style-type: none;

                a {
                  text-decoration: none;
                  font-family: "Montserrat", sans-serif;
                  font-weight: 600;
                  font-size: 24px;
                  text-transform: uppercase;
                  color: #ffffff;
                }

                .dot {
                  width: 6px;
                  height: 6px;
                  border-radius: 50%;
                  background-color: #ffffff;
                  margin: 0 50px;
                }
              }
            }
          }


        }
      }
      main {
        .hero {
          max-width: 100%;
          height: 1080px;
          background: url("../img/hero-bg.jpg");
          background-size: cover;
          margin-top: -180px;

          h1 {
            font-family: "AthenaoftheOcean", sans-serif;
            text-align: center;
            color: #ffffff;
            font-size: 450px;
            margin: 0;
            padding-top: 190px;
            font-weight: normal;
          }

          h3 {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            margin-top: 43px;
            text-align: center;
            color: #ffffff;
            font-size: 94px;
            text-transform: uppercase;
            letter-spacing: 20px;

          }


        }
        .reservations-about {
          max-width: 100%;
          height: 806px;
          position: relative;

          .ba-container {
            border-radius: 5px;
            border: none;
            margin: 0 auto;
            margin-top: -60px;
            z-index: 1;

            .reservations-about-top {
              max-width: 100%;
              height: 806px;
              border-radius: 5%;
              border: none;
              display: flex;
              flex-direction: row;
              align-items: center;

              .reservations {
                width: 605px;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .reservations-info {
                  width: 100%;
                  height: 403px;
                  background-color: #ffffff;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: space-around;

                  h4 {
                    font-family: "AthenaoftheOcean", sans-serif;
                    color: #fc4263;
                    font-size: 168px;
                    font-weight: normal;
                    margin: 0;
                    margin-top: -40px;

                  }

                  p {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                    color: #a7a7a7;
                    font-size: 21px;
                    line-height: 32px;
                    text-align: center;
                    margin-top: -40px;
                    letter-spacing: 1.2px;
                    margin-bottom: 0;
                  }

                  button {
                    width: 320px;
                    height: 70px;
                    border-radius: 3px;
                    border: 2px solid #fc4263;
                    background-color: #ffffff;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 500;
                    text-transform: uppercase;
                    font-size: 24px;
                    color: #fc4263;
                    margin-bottom: 10px;
                  }

                }

                .reservations-photo {
                  width: 100%;
                  height: 403px;
                  background: url("../img/res-photo.png") center center no-repeat;
                  background-size: cover;
                }

              }

              .about {
                width: 1045px;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .about-photo {
                  width: 100%;
                  height: 403px;
                  background: url("../img/about-photo.png") center center no-repeat;
                  background-size: cover;
                }

                .about-info {
                  width: 100%;
                  height: 403px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: space-around;
                  background-color: #ffffff;

                  h4 {
                    font-family: "AthenaoftheOcean", sans-serif;
                    color: #fc4263;
                    font-size: 168px;
                    font-weight: normal;
                    margin: 0;
                    margin-top: -30px;
                  }

                  p {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                    color: #a7a7a7;
                    font-size: 21px;
                    line-height: 32px;
                    text-align: center;
                    margin-top: -50px;
                    letter-spacing: 1.2px;

                  }
                }
              }
            }

          }
        }
        .reservations-about-bottom {
          max-width: 100%;
          width: 1920px;
          height: 690px;
          background-color: #f6f4f1;
          position: absolute;
          top: 1080px;
          left: 0;
          z-index: -1;
        }
        .our-specialities {
          max-width: 100%;
          height: 900px;
          margin-top: -55px;
          .specialities-photo {
            width: 100%;
            height: 900px;
            background: url("../img/our-sps.png") center center no-repeat;
            background-size: cover;
            display: block;


            h2 {
              font-family: "AthenaoftheOcean", sans-serif;
              color: #ffffff;
              font-size: 297px;
              padding-top: 145px;
              margin: 0 auto;
              text-align: center;
              font-weight: normal;
              line-height: 190px;
            }

          }
        }
        .dishes {
          max-width: 100%;
          height: 826px;

          .ba-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            margin-top: -75px;
            z-index: 1;

            .first-row {
              width: 100%;
              height: 50%;
              display: flex;
              flex-direction: row;
              align-items: center;
              .dish {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 50%;
                height: 100%;
                .dish-info {
                  width: 50%;
                  height: 100%;
                  text-align: center;
                  background-color: #ffffff;
                  margin: 20px 0;
                  h5 {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    font-size: 30px;
                    text-transform: uppercase;
                    margin-top: 95px;
                    letter-spacing: 4px;
                    margin-top: 95px;
                  }
                  p {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                    font-size: 24px;
                    color: #474747;
                    text-align: center;
                    margin-top: -22px;
                    letter-spacing: 1.5px;
                    line-height: 35px;
                  }
                  h6 {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 700;
                    font-size: 24px;
                    color: #fc4263;
                    text-transform: uppercase;
                    margin-top: 36px;
                    letter-spacing: 4.5px;
                    span {
                      font-family: "EnglishwithIndianRupee", sans-serif!important;
                      font-size: 24px;
                      color: #fc4263;
                    }
                  }
                }
                .lazagna-photo {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  width: 50%;
                  height: 100%;
                  background: url("../img/lazagna.png") center center no-repeat;
                  background-size: cover;
                }

              }
              .pizza {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 50%;
                height: 100%;
                .dish-info {
                  width: 50%;
                  height: 100%;
                  text-align: center;
                  background-color: #ffffff;
                  margin: 20px 0;
                  h5 {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    font-size: 30px;
                    text-transform: uppercase;
                    margin-top: 95px;
                    letter-spacing: 4px;
                    margin-top: 95px;
                  }
                  p {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                    font-size: 24px;
                    color: #474747;
                    text-align: center;
                    margin-top: -22px;
                    letter-spacing: 1.5px;
                    line-height: 35px;
                  }
                  h6 {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 700;
                    font-size: 24px;
                    color: #fc4263;
                    text-transform: uppercase;
                    margin-top: 36px;
                    letter-spacing: 4.5px;
                    span {
                      font-family: "EnglishwithIndianRupee", sans-serif!important;
                      font-size: 24px;
                      color: #fc4263;
                    }
                  }
                }
                .pizza-photo {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  width: 50%;
                  height: 100%;
                  background: url("../img/pizza.png") center center no-repeat;
                  background-size: cover;
                }
              }

            }
            .second-row {
              width: 100%;
              height: 50%;
              display: flex;
              flex-direction: row;
              align-items: center;
              .idlis {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 50%;
                height: 100%;
                .idlis-photo {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  width: 50%;
                  height: 100%;
                  background: url("../img/idlis.png") center center no-repeat;
                  background-size: cover;
                }
                .dish-info {
                  width: 50%;
                  height: 100%;
                  text-align: center;
                  background-color: #ffffff;
                  margin: 20px 0;
                  h5 {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    font-size: 30px;
                    text-transform: uppercase;
                    margin-top: 95px;
                    letter-spacing: 4px;
                    margin-top: 95px;
                  }
                  p {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                    font-size: 24px;
                    color: #474747;
                    text-align: center;
                    margin-top: -22px;
                    letter-spacing: 1.5px;
                    line-height: 35px;
                  }
                  h6 {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 700;
                    font-size: 24px;
                    color: #fc4263;
                    text-transform: uppercase;
                    margin-top: 36px;
                    letter-spacing: 4.5px;
                    span {
                      font-family: "EnglishwithIndianRupee", sans-serif!important;
                      font-size: 24px;
                      color: #fc4263;
                    }
                  }
                }
              }
              .burger {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 50%;
                height: 100%;
                .burger-photo {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  width: 50%;
                  height: 100%;
                  background: url("../img/burger.png") center center no-repeat;
                  background-size: cover;
                }
                .dish-info {
                  width: 50%;
                  height: 100%;
                  text-align: center;
                  background-color: #ffffff;
                  margin: 20px 0;
                  h5 {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    font-size: 30px;
                    text-transform: uppercase;
                    margin-top: 95px;
                    letter-spacing: 4px;
                    margin-top: 95px;
                  }
                  p {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                    font-size: 24px;
                    color: #474747;
                    text-align: center;
                    margin-top: -22px;
                    letter-spacing: 1.5px;
                    line-height: 35px;
                  }
                  h6 {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 700;
                    font-size: 24px;
                    color: #fc4263;
                    text-transform: uppercase;
                    margin-top: 36px;
                    letter-spacing: 4.5px;
                    span {
                      font-family: "EnglishwithIndianRupee", sans-serif!important;
                      font-size: 24px;
                      color: #fc4263;
                    }
                  }
                }
              }

            }
          }
        }
        .dishes-bottom {
          max-width: 100%;
          width: 1920px;
          height: 690px;
          background-color: #f6f4f1;
          position: absolute;
          top: 2670px;
          left: 0;
          z-index: -1;
        }
        .barbeque {
          max-width: 100%;
          height: 1085px;
          margin-top: -77px;
          .barbeque-photo {
            width: 100%;
            height: 1085px;
            background: url("../img/barbeque.png") center center no-repeat;
            background-size: cover;
          }
        }
        .menu {
          max-width: 100%;
          height: 1710px;
          background: url("../img/menu-bg.png") center center no-repeat;
          margin-top: 40px;

          .ba-container {
            padding: 0 55px;
            h2 {
              font-family: "AthenaoftheOcean", sans-serif;
              font-size: 210px;
              font-weight: normal;
              text-align: center;
              margin-top: -30px;

            }
            .line {
              width: 140px;
              height: 2px;
              border: 1px solid #fc4263;
              margin: 0 auto;
              margin-top: -177px;
            }
            .fanda {
              font-family: "Montserrat", sans-serif;
              font-weight: 600;
              font-size: 30px;
              text-align: center;
              margin: 30px;
              padding-top: 35px;
              text-transform: uppercase;
              color: #878787;
              letter-spacing: 2px;
            }
            .deserts {
              font-family: "Montserrat", sans-serif;
              font-weight: 600;
              font-size: 30px;
              text-align: center;
              margin: 40px;
              padding-top: 85px;
              text-transform: uppercase;
              color: #878787;
              letter-spacing: 2px;
            }
            .food-appetizers-info {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              position: relative;
              margin-top: -30px;
              padding-top: 30px;
              .abs {
                position: absolute;
              }
              .item1 {
                width: 338px;
                height: 463px;
                background: url("../img/item1.png")center no-repeat;
                top: -470px;
                left: -190px;
              }
              .item2 {
                width: 189px;
                height: 408px;
                background: url("../img/item2.png") center no-repeat;
                top: 260px;
                left: -190px;
              }
              .item3 {
                width: 311px;
                height: 361px;
                background: url("../img/item3.png") center no-repeat;
                top: -316px;
                left: 1420px;
              }
              .item4 {
                width: 147px;
                height: 312px;
                background: url("../img/item4.png") center no-repeat;
                top: 370px;
                left: 1585px;
              }
              .item5 {
                width: 290px;
                height: 551px;
                background: url("../img/item5.png") center no-repeat;
                top: 360px;
                left: -190px;
              }
              .item6 {
                width: 326px;
                height: 318px;
                background: url("../img/item6.png") center no-repeat;
                top: 440px;
                left: 660px;
              }
              .item7 {
                width: 286px;
                height: 381px;
                background: url("../img/item7.png") center no-repeat;
                top: 420px;
                left: 1445px;
              }

              .fa-col-one {
                width: 45%;
                margin: -20px 30px 0 20px;
                .menu-item {
                  height: 85px;
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: space-between;
                  margin-top: 55px;
                  .description {
                    height: 100%;
                    width: 500px;
                    h6 {
                      font-family: "Montserrat", sans-serif;
                      font-weight: 600;
                      font-size: 27px;
                      text-align: left;
                      text-transform: uppercase;
                      margin: 0;
                    }
                    p {
                      font-family: "Montserrat", sans-serif;
                      font-weight: 400;
                      font-size: 18px;
                      text-align: left;
                      color: #393939;
                      margin-top: 20px;
                    }
                  }
                  .price {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 700;
                    font-size: 85px;
                    text-align: center;
                    color: #fc4263;
                    span {
                      font-family: "EnglishwithIndianRupee", sans-serif;
                      font-size: 60px;
                      color: #fc4263;
                      vertical-align: text-top;
                      line-height: 1.5;
                    }
                  }
                }
              }
            }
            .desert-info {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              position: relative;
              margin-top: -60px;
              padding-top: 50px;
              .abs {
                position: absolute;
              }
              .item1 {
                width: 338px;
                height: 463px;
                background: url("../img/item1.png")center no-repeat;
                top: -470px;
                left: -190px;
              }
              .item2 {
                width: 189px;
                height: 408px;
                background: url("../img/item2.png") center no-repeat;
                top: 260px;
                left: -190px;
              }
              .item3 {
                width: 311px;
                height: 361px;
                background: url("../img/item3.png") center no-repeat;
                top: -316px;
                left: 1420px;
              }
              .item4 {
                width: 147px;
                height: 312px;
                background: url("../img/item4.png") center no-repeat;
                top: 370px;
                left: 1585px;
              }
              .item5 {
                width: 290px;
                height: 551px;
                background: url("../img/item5.png") center no-repeat;
                top: 360px;
                left: -190px;
              }
              .item6 {
                width: 326px;
                height: 318px;
                background: url("../img/item6.png") center no-repeat;
                top: 440px;
                left: 660px;
              }
              .item7 {
                width: 286px;
                height: 381px;
                background: url("../img/item7.png") center no-repeat;
                top: 420px;
                left: 1445px;
              }

              .fa-col-one {
                width: 45%;
                margin: -20px 30px 0 20px;
                .menu-item {
                  height: 85px;
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: space-between;
                  margin-top: 55px;
                  .description {
                    height: 100%;
                    width: 500px;
                    h6 {
                      font-family: "Montserrat", sans-serif;
                      font-weight: 600;
                      font-size: 27px;
                      text-align: left;
                      text-transform: uppercase;
                      margin: 0;
                    }
                    p {
                      font-family: "Montserrat", sans-serif;
                      font-weight: 400;
                      font-size: 18px;
                      text-align: left;
                      color: #393939;
                      margin-top: 20px;
                    }
                  }
                  .price {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 700;
                    font-size: 85px;
                    text-align: center;
                    color: #fc4263;
                    span {
                      font-family: "EnglishwithIndianRupee", sans-serif;
                      font-size: 60px;
                      color: #fc4263;
                      vertical-align: text-top;
                      line-height: 1.5;
                    }
                  }
                }
              }
            }
          }
        }
        .locations {
          max-width: 100%;
          background: url("../img/locations-bottom.png") top center no-repeat;
          background-size: cover;

          .ba-container {
            padding-top: 1px;
            padding-bottom: 50px;

            .location-text{
              margin-top: -56px;
              background-color: #efffff;
              padding: 0 40px 20px 40px;
              margin-bottom: 50px;
            }

            h2 {
              font-family: "AthenaoftheOcean", sans-serif;
              font-size: 210px;
              font-weight: normal;
              text-align: center;
              margin: 0 auto;
              line-height: 150px;
            }
            .line {
              width: 140px;
              height: 2px;
              border: 1px solid #fc4263;
              margin: 0 auto;
              margin-top: 22px;
            }
            .locations-info {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              .location-one {
                width: 50%;
                margin: 0 -20px 0 -20px;
                .location-address {
                  width: 100%;
                  height: 250px;
                  padding-top: 30px;
                  .location-city {
                    display: block;
                    text-align: center;
                    margin-top: -5px;
                  }
                  span {
                    display: inline;
                    margin: 0 20px;
                    font-size: 40px;
                    color:  #fc4263;
                  }
                  h5 {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    font-size: 30px;
                    text-align: center;
                    margin-top: 20px;
                    text-transform: uppercase;
                    color: #878787;
                    display: inline;
                  }
                  p {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                    font-size: 30px;
                    text-align: center;
                    color: #c3c3c3;
                    margin: 15px 0;
                  }
                }
                .location-photo-one {
                  width: 100%;
                  height: 420px;
                  background: url("../img/location-one.png") center center no-repeat;
                  background-size: cover;
                }
                .location-photo-two {
                  width: 100%;
                  height: 420px;
                  background: url("../img/location-two.png") center center no-repeat;
                  background-size: cover;
                }
              }
            }

            .lb-inner {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 100%;

              h2 {
                font-family: "Montserrat", sans-serif;
                font-weight: 400;
                font-size: 60px;
                line-height: 1.2;
                text-align: center;
                letter-spacing: 1px;
                color: #fff;
                margin-top: 18px;
              }

              .submit-form {
                max-width: 1260px;
                height: 100px;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: space-between;
                margin: 74px auto;
                text-align: center;

                input {
                  font-family: "Montserrat", sans-serif;
                  font-weight: 600;
                  width: 900px;
                  height: 100%;
                  background-color: rgba(110, 110, 111, 0.2);
                  border-radius: 10px;
                  border: none;
                  color: #ffffff;
                  font-size: 28px;
                  padding: 0 15px;
                }

                button {
                  width: 310px;
                  height: 100%;
                  margin-left: 40px;
                  background-color: #fc4263;
                  border-radius: 10px;
                  border: none;
                  color: #ffffff;
                  font-family: "Montserrat", sans-serif;
                  font-weight: 600;
                  font-size: 28px;
                  text-transform: uppercase;
                }
              }
            }
          }
        }

      }

      footer {
        width: 1920px;
        max-width: 100%;
        height: 600px;
        position: relative;
        .arrow-link {
          position: absolute;
          top: 420px;
          left: 1755px;
          .scroll-button {
            height: 60px;
            width: 60px;
            padding: 13px;
            background-color: transparent;
            border-radius: 50%;
            border: 2px solid #ffffff;

            .arrow-up {
              width: 0;
              height: 0;
              border-left: 15px solid transparent;
              border-right: 15px solid transparent;
              border-bottom: 25px solid #ffffff;
            }
          }
        }
        .upper-footer {
          background-color: #272727;
          width: 100%;
          margin-top: -72px;
          .ba-container {
            display: block;
            height: 450px;


            .social-networks {
              margin: 0 auto;
              width: 390px;
              padding-top: 130px;

              ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 0;
                margin: 0;

                li {
                  display: inline-block;
                  list-style-type: none;

                  .snet {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    border: none;
                    background-color: #ffffff;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;

                    .fab {
                      font-size: 50px;
                      color: #fc4364;

                    }

                  }

                }

              }

            }

            .page-navigation {
              margin: 0 auto;
              width: 775px;
              padding-top: 45px;

              ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 0;
                margin: 0;

                li {
                  display: inline-block;
                  list-style-type: none;

                  a {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 500;
                    font-size: 24px;
                    color: #ffffff;
                    text-decoration: none;
                  }
                }

              }

            }

            .lower-navigation {
              margin: 0 auto;
              width: 540px;
              padding-top: 15px;

              ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                li {
                  display: inline-block;
                  list-style-type: none;

                  a {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 300;
                    font-size: 20px;
                    color: #ffffff;
                    text-transform: uppercase;
                    text-decoration: none;
                  }

                  .separator {
                    width: 2px;
                    height: 20px;
                    background-color: #ffffff;
                  }
                }

              }

            }
          }
        }
        .lower-footer {
          width: 100%;
          background-color: #000000;
          .ba-container {
            display: block;
            height: 150px;
            text-align: center;
            h5 {
              font-family: "Montserrat", sans-serif;
              font-weight: 400;
              font-size: 26px;
              color: #ffffff;
              text-transform: uppercase;
              margin: 0;
              padding-top: 35px;
              span {
                font-size: 36px;
              }
            }
            p {
              font-family: "Montserrat", sans-serif;
              font-weight: 400;
              font-size: 20px;
              color: #ffffff;
              text-transform: uppercase;
              margin: 0;
              padding-top: 8px;
            }
          }
        }
      }
    }










